@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.background {
    background-color: #875fc0;
    height: 100vh;
    background-size: cover;
    font-family: "Roboto";

}

.score {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    text-align: right;
    margin-right: 20px;
}

.card1 {
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

.heading {
    color: #1f2933;
    font-size: 18px;
    font-weight: bold;
}

.paragraph {
    color: #323f4b;
    font-size: 14px;
}

.image {
    height: 100px;
    width: 200px;
}

.card2 {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0px;
    margin: 20px;
    text-align: center;
}

.option {
    list-style-type: none;
    border-width: 1px;
    border-style: solid;
    color: black;
    border-color: #1f2933;
    padding: 0px;
    border-radius: 7px;
    margin: 0px;
    background-color: white;

}

.button {
    color: white;
    border-radius: 5px;
    margin: 5px;
}